/* line 2, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper {
  clear: left;
  overflow: auto;
  margin: 0px;
  min-height: 60px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
/* line 10, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table {
  width: 100%;
  border-spacing: 0px;
}
/* line 14, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table th {
  background: #d7d7d7;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #cccccc;
  font-weight: bold;
}
/* line 24, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr td {
  padding: 4px 10px 4px 10px;
  border-right: 1px solid #cccccc;
  background: none repeat scroll 0 0 #F7F7F7;
}
/* line 28, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr td img {
  vertical-align: bottom;
}
/* line 30, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr .sed {
  text-align: center;
}
/* line 32, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr .sed a {
  display: none;
}
/* line 38, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr.js-search td {
  padding: 4px;
}
/* line 41, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr.js-search td input {
  border: 1px solid #ccc;
  width: 98%;
  height: 25px;
  display: inline;
  margin: 0px;
  padding: 0px;
}
/* line 52, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr.js-search:hover td {
  background: none repeat scroll 0 0 #F7F7F7;
}
/* line 57, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr:hover td {
  background: #d5effc;
}
/* line 60, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr:hover .sed {
  text-align: center;
}
/* line 63, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid .js-tablewrapper table tr:hover .sed a {
  display: inline;
}
/* line 71, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol.bottom {
  background: #d7d7d7;
}
/* line 74, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol.top {
  background: #d7d7d7 url("/images/railsgrid/th_bg.png") top repeat-x;
}
/* line 77, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol {
  clear: both;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 5px;
}
/* line 83, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li {
  list-style: none;
  display: inline;
  margin: 0px 2px 0px 2px;
  padding: 0;
}
/* line 88, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li input, .js-railsgrid ul.js-tablecontrol li select {
  width: 60px !important;
}
/* line 92, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 97, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button span {
  width: 20px;
  height: 20px;
}
/* line 102, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .first {
  background: url("/images/railsgrid/first.png") no-repeat;
}
/* line 105, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .last {
  background: url("/images/railsgrid/last.png") no-repeat;
}
/* line 108, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .js-next {
  background: url("/images/railsgrid/next.png") no-repeat;
}
/* line 111, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .js-previous {
  background: url("/images/railsgrid/prev.png") no-repeat;
}
/* line 114, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .js-reload {
  background: url("/images/railsgrid/reload.png") no-repeat;
}
/* line 117, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .js-clear {
  background: url("/images/railsgrid/clear.png") no-repeat;
}
/* line 120, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .loading {
  background: url("/images/railsgrid/loading.gif") no-repeat;
}
/* line 123, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.button .new {
  background: url("/images/railsgrid/add.png") no-repeat;
}
/* line 128, ../../../app/stylesheets/_railsgrid.scss */
.js-railsgrid ul.js-tablecontrol li.separator {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #FFFFFF;
  height: 22px;
  margin: 1px;
}