.project
.DS_Store
.rvmrc
.project
.bundle/*
*.tmproj
tmtags
*~
\#*
.\#*
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
.rvmrc
*.orig
.bundle/
Gemfile.lock
log/*.log
spec/dummy/db/*.sqlute3
spec/dummy/log/*,log
spec/dummy/tmp/
