/* line 16, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper {
  clear: left;
  overflow: auto;
  margin: 0px;
  border: 1px solid #cccccc;
}
/* line 22, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table {
  width: 100%;
  border-spacing: 0px;
  font-size: 90%;
}
/* line 28, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-right: 1px solid #cccccc;
  background: url("/images/fancygrid/th_bg.png");
}
/* line 35, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th .fg-order-tag {
  display: none;
  float: right;
  width: 16px;
  height: 16px;
}
/* line 43, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th.fg-orderable .fg-order-tag {
  display: block;
  background: url("/images/fancygrid/dots.png") no-repeat scroll 50% 50% transparent;
}
/* line 49, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th[order='ASC'] .fg-order-tag {
  display: block;
  background: url("/images/fancygrid/dn.png") no-repeat scroll 50% 50% transparent;
}
/* line 55, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th[order='ASC']:hover .fg-order-tag {
  background: url("/images/fancygrid/ddn.png") no-repeat scroll 50% 50% transparent;
}
/* line 60, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th[order='DESC'] .fg-order-tag {
  display: block;
  background: url("/images/fancygrid/up.png") no-repeat scroll 50% 50% transparent;
}
/* line 66, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th[order='DESC']:hover .fg-order-tag {
  background: url("/images/fancygrid/uup.png") no-repeat scroll 50% 50% transparent;
}
/* line 70, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr th:last-child, .fg-fancygrid .fg-tablewrapper table tr td:last-child {
  border-right: none;
}
/* line 74, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr td {
  padding: 4px 10px 4px 10px;
  border-right: 1px solid #cccccc;
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 78, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr td img {
  vertical-align: bottom;
}
/* line 84, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr:nth-child(odd) td {
  background: none repeat scroll 0 0 #e8e8e8;
}
/* line 90, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr:hover td {
  background: none repeat scroll 0 0 #dedede;
}
/* line 98, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr.fg-search td {
  padding: 4px;
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 102, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr.fg-search td input {
  display: inline;
  width: 99%;
  height: 25px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #cccccc;
}
/* line 110, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr.fg-search td input:focus {
  background: none repeat scroll 0 0 #fffae0;
}
/* line 114, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr.fg-search td select {
  width: 100%;
  display: inline;
  margin: 0px;
  padding: 2px;
}
/* line 122, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-tablewrapper table tr.fg-search:hover td {
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 130, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search {
  display: inline;
}
/* line 132, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search .fg-search-controls {
  margin: 5px;
  margin-bottom: 15px;
}
/* line 135, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search .fg-search-controls input[type='checkbox'] {
  width: 16px;
  height: 16px;
}
/* line 141, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search ul.fg-search-criteria {
  margin: 5px;
  padding: 0px;
}
/* line 145, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search ul.fg-search-criteria li.fg-search-criterion {
  margin: 0px 0px 3px 0px;
  padding: 0px;
  list-style: none;
}
/* line 149, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search ul.fg-search-criteria li.fg-search-criterion select {
  width: 80px;
  padding: 2px;
}
/* line 153, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid fieldset.fg-search ul.fg-search-criteria li.fg-search-criterion input[type='text'] {
  width: 100px;
  padding: 2px;
}
/* line 161, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar.top {
  background: transparent;
}
/* line 164, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar.bottom {
  background: transparent;
}
/* line 167, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar {
  clear: both;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 5px;
}
/* line 174, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar li {
  list-style: none;
  display: inline;
  margin: 0px 2px 0px 2px;
  padding: 0;
}
/* line 179, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar li select {
  padding: 2px;
  width: 60px;
}
/* line 183, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar li input {
  padding: 0px;
  width: 40px !important;
}
/* line 189, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid ul.fg-control-bar li.separator {
  border-left: 1px solid #cccccc;
  border-right: 1px solid white;
  height: 50px;
  margin: 1px 8px;
}
/* line 197, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button {
  cursor: pointer;
  vertical-align: bottom;
  padding-bottom: 3px;
}
/* line 202, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-first {
  background: url("/images/fancygrid/first.png") no-repeat;
}
/* line 206, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-last {
  background: url("/images/fancygrid/last.png") no-repeat;
}
/* line 210, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-next {
  background: url("/images/fancygrid/next.png") no-repeat;
}
/* line 214, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-previous {
  background: url("/images/fancygrid/prev.png") no-repeat;
}
/* line 218, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-reload {
  background: url("/images/fancygrid/reload.png") no-repeat;
}
/* line 222, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-clear {
  background: url("/images/fancygrid/clear.png") no-repeat;
}
/* line 226, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-magnify {
  background: url("/images/fancygrid/magnifier.png") no-repeat;
}
/* line 230, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-sort {
  background: url("/images/fancygrid/order.png") no-repeat;
}
/* line 234, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.loading {
  background: url("/images/fancygrid/loading.gif") no-repeat;
}
/* line 238, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.new {
  background: url("/images/fancygrid/add.png") no-repeat;
}
/* line 242, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-search-add {
  background: url("/images/fancygrid/add.png") no-repeat;
}
/* line 246, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-search-remove {
  background: url("/images/fancygrid/remove.png") no-repeat;
}
/* line 250, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid img.fg-button.fg-search-submit {
  background: url("/images/fancygrid/submit.png") no-repeat;
}
/* line 256, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable-visible {
  float: left;
}
/* line 259, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable-hidden {
  float: right;
}
/* line 262, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  width: 48%;
  display: inline;
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 270, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable li {
  margin: 3px;
  padding: 3px;
  padding-left: 20px;
  font-size: 14px;
  height: 18px;
  cursor: move;
}
/* line 277, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable li span {
  position: absolute;
  margin-left: -17px;
}
/* line 281, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable li h4 {
  margin: 0px;
  padding: 0px;
}
/* line 287, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sortable li.fg-not-sortable {
  cursor: default;
}
/* line 293, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .fg-sort-content {
  margin: 5%;
  position: fixed;
  top: 0px;
	left: 0px;
  width: 90%;
  height: 90%;
}
/* line 301, ../../../app/stylesheets/fancygrid.scss */
.fg-fancygrid .ui-state-highlight {
  margin-bottom: 10px;
  padding: 10px;
}
