/* line 15, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper {
  clear: left;
  overflow: auto;
  margin: 0px;
  min-height: 60px;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
/* line 24, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #d7d7d7;
}
/* line 30, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr th {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-right: 1px solid #d7d7d7;
  background: none repeat scroll 0 0 #d7d7d7;
}
/* line 37, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr td {
  padding: 4px 10px 4px 10px;
  border-right: 1px solid #d7d7d7;
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 41, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr td img {
  vertical-align: bottom;
}
/* line 45, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr .actions {
  text-align: center;
}
/* line 47, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr .actions a {
  display: none;
}
/* line 53, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr:nth-child(odd) td {
  background: none repeat scroll 0 0 #e8e8e8;
}
/* line 59, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr:hover td {
  background: none repeat scroll 0 0 #e0ffff;
}
/* line 62, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr:hover .actions {
  text-align: center;
}
/* line 64, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr:hover .actions a {
  display: inline;
}
/* line 71, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr.js-search td {
  padding: 4px;
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 75, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr.js-search td input {
  display: inline;
  width: 98%;
  height: 25px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #d7d7d7;
}
/* line 83, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr.js-search td input:focus {
  background: none repeat scroll 0 0 #fffae0;
}
/* line 89, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid .js-tablewrapper table tr.js-search:hover td {
  background: none repeat scroll 0 0 #f8f8f8;
}
/* line 96, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol.top {
  background: #d7d7d7 url("/images/fancygrid/th_bg.png") top repeat-x;
}
/* line 99, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol.bottom {
  background: none repeat scroll 0 0 #d7d7d7;
}
/* line 102, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol {
  clear: both;
  display: block;
  text-align: center;
  margin: 0px;
  padding: 5px;
}
/* line 109, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li {
  list-style: none;
  display: inline;
  margin: 0px 2px 0px 2px;
  padding: 0;
}
/* line 114, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li input, .js-fancygrid ul.js-tablecontrol li select {
  width: 60px !important;
}
/* line 118, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 123, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button span {
  width: 20px;
  height: 20px;
}
/* line 128, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-first {
  background: url("/images/fancygrid/first.png") no-repeat;
}
/* line 131, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-last {
  background: url("/images/fancygrid/last.png") no-repeat;
}
/* line 134, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-next {
  background: url("/images/fancygrid/next.png") no-repeat;
}
/* line 137, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-previous {
  background: url("/images/fancygrid/prev.png") no-repeat;
}
/* line 140, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-reload {
  background: url("/images/fancygrid/reload.png") no-repeat;
}
/* line 143, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-clear {
  background: url("/images/fancygrid/clear.png") no-repeat;
}
/* line 146, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .js-magnify {
  background: url("/images/fancygrid/magnifier.png") no-repeat;
}
/* line 150, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .loading {
  background: url("/images/fancygrid/loading.gif") no-repeat;
}
/* line 153, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.button .new {
  background: url("/images/fancygrid/add.png") no-repeat;
}
/* line 158, ../../../app/stylesheets/_fancygrid.scss */
.js-fancygrid ul.js-tablecontrol li.separator {
  border-left: 1px solid #cccccc;
  border-right: 1px solid white;
  height: 30px;
  margin: 1px;
}