<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.4.2.js", "jquery-ui.js", "jquery-fancygrid.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
