/ available locals are
/ grid   : the fancygrid instance
/ cell   : the column to render
/ record : the datarecord for the current row to render
/ value  : the value for current cell to render
 
/ example rendering the actions show and edit for a users table
/- case grid.name
/- when :users
/  - case cell.name
/  - when :actions
/    = link_to "Show", user_path(record)
/    = link_to "Edit", edit_user_path(record)