.js-sort-window.ui-widget-overlay
.js-sort-content
  %span.js-sort-save.ui-state-default.ui-icon.ui-icon-closethick.ui-corner-all
  %ul.js-sortable-visible.js-connectedSortable.ui-widget-content.ui-corner-all
    %li.js-not-sortable
      %h4
        Sichtbar
    - fancygrid.each_visible_leaf do |leaf|
      %li.ui-state-default.ui-widget-header.ui-corner-all{ :class =>  leaf.css_class, :id => leaf.tag_name} 
        %span.ui-icon.ui-icon-arrowthick-2-n-s
        = leaf.human_name
  %ul.js-sortable-hidden.js-connectedSortable.ui-widget-content.ui-corner-all
    %li.js-not-sortable
      %h4
        Unsichtbar
    - fancygrid.each_hidden_leaf do |leaf|
      %li.ui-state-default.ui-widget-header.ui-corner-all{ :class =>  leaf.css_class, :id => leaf.tag_name} 
        %span.ui-icon.ui-icon-arrowthick-2-n-s
        = leaf.human_name